@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Roboto+Mono:wght@100;300;500;700&display=swap');

/* Style the header: fixed position (always stay at the top) */
.header1 {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
  }
/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 3px;
    background: transparent;
  }
  
/* The progress bar (scroll indicator) */
  .progress-bar {
    height: 3px;
    background: #e7420c;
    width: 0%;
  }
  
body {
  opacity: 1 !important;
  font-family: 'Montserrat', sans-serif !important;
  }
#nav{
    font-size: 40px;
}
h1{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 68px;
  line-height: 85px;
}
h2 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  font-size: 48px;
}
p {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  line-height: 26px !important;
  
}
h4 {
  font-family: 'Montserrat', sans-serif !important;
}
.hero h2 a {
  color: #fff;
  font-family: 'Montserrat', sans-serif !important;
}
.heroButton{
  font-family: 'Montserrat', sans-serif;
}
.typewrite{
  font-family: 'Montserrat', sans-serif !important;
}
#covid-link{
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase !important;
  font-size: 11px !important;
}
#nav a {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px !important;
}
.hero.mini a {
  font-family: 'Montserrat', sans-serif 
}
.freeTrial{
  font-size: 55px;
  line-height: 100px;
}
.inner.white h1, h2{
  font-family: 'Montserrat', sans-serif !important;
}
.specialHeading{
  font-family: 'Montserrat', sans-serif !important;
}
.specialHeading.blue{
  color: #29888e;
}
footer {
    padding-top: 30px;
}
.footerList{
  font-family: 'Montserrat', sans-serif !important;
}
.newsletter input[type="text"], .newsletter input[type="email"] {
  font-family: 'Montserrat', sans-serif !important; 
}
.blockquote {
  border-left: 3px solid #29888e;
}
.blockquote cite {
  font-family: 'Montserrat', sans-serif !important; 
}
.videoContainer {
  position: relative;
  width: 100%;
}
.videos{
  padding-bottom: 50px;
}
.iframeVideo {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 150px 150px 0px -135px #29888e !important;
}
.findOutMoreHeading{
  margin-bottom: 20px;
  margin-top: 50px;
}
.terms{
  font-family: 'Montserrat', sans-serif !important; 
}
/* .middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */
.heroMiddle {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}
.heroTitle{
  font-size: 60px;
}
.videoContainer:hover .iframeVideo {
  opacity: 1;
}
#video{
  padding-bottom: 30px;

}

/* .videoContainer:hover .middle {
  opacity: 1;
}
*/
.submitTriangle {
  color: white;
  font-size: 16px;
  margin: auto;
  background-color: #666 !important;
  width: 0 !important;
  height: 0 !important;
  border-style: solid !important;
  border-width: 25px 0 25px 42px !important;
  border-color: transparent transparent transparent #29888e !important;
} 
section.findus {
  padding-top: 50px;
}
h5{
  color: #29888e;
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 400;
}
.line {
  background: #29888e;
}
.finding{
  color: #fff;
}
ul.finding {
  padding: 0px 0 86px 0;
}
ul.finding li a {
  color: #fff;
}
.wrap { 
  border-right: 0.08em solid #fff; 
  font-family: 'Montserrat', sans-serif;
}
.travelling img {
  height: 250px;
  width: 250px;
}
.tubeLine{
  color: #29888e;
  font-weight: 500;
  margin-bottom: 50px;
}
.smallLogo{
  height: 40px !important;
  margin-top: 15px;
}
.smallNav{
  height: 70px !important;
}
.hero.colours {
  background-image: -webkit-linear-gradient(45deg, #397175 50%, #29888e 50%);
}
dl.dual img {
  width: 90%;
}
.covidTitle{
  font-size: 25px;
  color: #29888e;
  font-family: 'Roboto Mono', monospace !important;
  font-weight: 400;
}
p, input, select, li {
  font-family: 'Montserrat', sans-serif;
}
dl.dual dd.middle {
  height: 100%;
  padding: 0 50px;
}
ol li {
  margin-bottom: 20px;
  list-style-type: decimal;
}
#logo {
  height:70px 
}
.logo{
  height:70px !important
}
.hero.home{
  background-image: url("./images/Background.jpg");
}
.contactBackground{
  background-image: url("./images/FulhamPeople.jpg");
  height: 100%;
  background-size: cover;
}
.aboutBackground{
  background-image: url("./images/FulhamBoxing.jpg");
  height: 100%;
  background-size: cover;
}
.hero h2{
  text-shadow: 2px 2px 2px #397175;
  font-family: 'Roboto Mono', monospace !important;
}
.wistia_responsive_padding{
  padding: '50% 0 0 0';
  position: 'relative'
}
.wistia_responsive_wrapper{
  height: '100%';
  left: 0;
  position: 'absolute';
  top: 0;
  width: '100%'
}
iframe.iframeVideo{
  width: 896px; 
  height: 504px;
}
.hero.mini.findus{
  background-image: url("./images/duoclinicoutside2.png");
  background-size: cover;
}
.hero.findus {
  /* background: url(images/home/where-to-find-us-desktop.jpg); */
  background-size: cover;
  height: 690px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sideBarButton{
  display:none;
}
.termsLink{
  font-family: 'Montserrat', sans-serif !important;
}
.faq{
  background: #4d4d4d;
  height: 700px;
  padding-top: 60px;
}
.faqDiv{
  background: #666;
  width: 700px;
  margin: auto;
}
.faqComponent{
  background: #666;
}
.styles_faq-row-wrapper__3Hsch {
  background-color: #4d4d4d !important;
}
.styles_faq-row-wrapper__3Hsch .styles_row-body__8wIE9 .styles_faq-row__2Rd2Y .styles_row-title__2yqnt .styles_icon-wrapper__wjX56 svg {
  fill: var(--arrow-color, #397175) !important;
}
.dark{
  /* background:none; */
}
.heading.inner{
  max-width: 1200px;
}
.backgroundVideo{
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.trialVideo{
  position: relative;
  right: 0;
  min-width: 100%;
  /* height: 552px; */
  margin-right: -1px;
  margin-bottom: -4px;
}
.socialIcon{
  width: 40px;
  display: inline;
  margin-right: 10px;
  margin-top: 10px;
}
.trialSection{
  width: 100%;
  background-image: -webkit-linear-gradient(45deg, #397175 50%, #29888e 50%);
  padding-right: 20px;
  padding-left: 20px;
}

.table{
  display: table;
}
.tr{
  display: table-row;
}
.td{
  display: table-cell;
  vertical-align: middle;
}
.classList{
  padding-top: 60px;
}
.classListFrame{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
}
.calander{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
}






/* #### Mobile Styles ##### */

@media only screen and (max-width: 1024px) {
  #logo {
    height: 40px !important;
    margin-top: 5px;
  }
  .logo{
    height:40px !important
  }
  .smallLogo{
    margin-top: 0px;
  }
  .table{
    display: block;
  }
  .tr{
    display: block;
  }
  .td{
    display: block;
    margin-top: -4px;
  }
  .trialVideo {
    max-width: 100vw;
    height: auto;
  }
  .freeTrial{
    font-size: 45px;
    padding-top: 20px;
  }
  .trialSection{
    padding-bottom: 30px;
  }
  .contactBackground {
    background-size: cover;
    height: 80vh;
    background-image: url("./images/FulhamPeopleMobile.jpg");
  }
  .hero.home{
    background-image: url("./images/BackgroundMobile.jpg");
    background-size: cover;
    height: 80vh;
  }
  .hero h2 {
    line-height: 60px;
    padding-bottom: 20px;
  }
  .specialHeading.blue{
    font-size: 35px;
    line-height: 40px;
  }
  .heroMiddle {
    top: 10vh;
  }
  iframe.iframeVideo{
    width: 299px; 
    height: 168px;
  }
  .iframeVideo {
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 20px 20px 0px -10px #29888e !important;
  }
  .hero.mini.findus{
    background-image: url("./images/duoclinicoutside2Mobile.png");
  }
  .mobile.no{
    color: #29888e;
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 400;
  }
  .numberblock dl.right dt img, .numberblock dl dt img {
    float: none;
    width: 140px;
    height: 140px;
    display: block;
    margin: 0px auto;
  }
  #covid-container{
    display: none;
  }
  #covid-link{
    margin-bottom: 20px !important;
    margin-right: 40px !important;
  } 
  .sideBarButton{
    display:block;
  }
  .sideBarBtn{
    display:block;
    float: right !important;
    margin-top: 18px;
    margin-right: 10px;
    background: none;
    border: none;
  }
  .menuIcon{
    height:30px;
    background: none;
    fill: #29888e;
  }
  .sideBar{
    background: "white";
    padding-top: 30px;
    padding-left: 20px;
  }
  .sideBarMenu{
    width: 250px;
    margin: auto;
  }
  .menuFooterLink{
    color: #999 !important;
    padding-left: 35px;
  }
  .menuFooterList{
    position: fixed !important;
    bottom: 0px;
  }
  .sideLink{
    color: #999 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    line-height: 26px !important;
  }
  #nav a {
    display: block;
    margin-bottom: 10px;;
  }
  p.small {
    line-height: 17px !important;
  }
  .faqDiv {
    width: 350px;
  }
  dl.dual dd.middle {
    height: 100%;
    padding: 0 0px;
}
.aboutBackground{
  padding-bottom: 80px;
}
br{
  display: block !important;
}
.hero.standard.colours .middle {
  display: block;
  padding: 90px 0 0 0 !important;
}
.backgroundVideo{
  /* display... */
}
#nav a#covid-link {
  font-size: 13px !important;
}
.menuFooterLink{
  padding-left: 15px;
}
}