@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Roboto+Mono:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Style the header: fixed position (always stay at the top) */
.header1 {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
  }
/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 3px;
    background: transparent;
  }
  
/* The progress bar (scroll indicator) */
  .progress-bar {
    height: 3px;
    background: #e7420c;
    width: 0%;
  }
  
body {
  opacity: 1 !important;
  font-family: 'Montserrat', sans-serif !important;
  }
#nav{
    font-size: 40px;
}
h1{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 68px;
  line-height: 85px;
}
h2 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  font-size: 48px;
}
p {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  line-height: 26px !important;
  
}
h4 {
  font-family: 'Montserrat', sans-serif !important;
}
.hero h2 a {
  color: #fff;
  font-family: 'Montserrat', sans-serif !important;
}
.heroButton{
  font-family: 'Montserrat', sans-serif;
}
.typewrite{
  font-family: 'Montserrat', sans-serif !important;
}
#covid-link{
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase !important;
  font-size: 11px !important;
}
#tryUs-link{
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase !important;
  font-size: 11px !important;
}
#nav a {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px !important;
}
.hero.mini a {
  font-family: 'Montserrat', sans-serif 
}
.freeTrial{
  font-size: 55px;
  line-height: 100px;
}
.inner.white h1, h2{
  font-family: 'Montserrat', sans-serif !important;
}
.specialHeading{
  font-family: 'Montserrat', sans-serif !important;
}
.specialHeading.blue{
  color: #29888e;
}
footer {
    padding-top: 30px;
}
.footerList{
  font-family: 'Montserrat', sans-serif !important;
}
.newsletter input[type="text"], .newsletter input[type="text"] {
  font-family: 'Montserrat', sans-serif !important; 
  margin-top: 8px;
}
.blockquote {
  border-left: 3px solid #29888e;
}
.blockquote cite {
  font-family: 'Montserrat', sans-serif !important; 
}
.videoContainer {
  position: relative;
  width: 100%;
}
.videos{
  padding-bottom: 50px;
}
.iframeVideo {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 15px 15px #29888e !important;
}
.findOutMoreHeading{
  margin-bottom: 20px;
  margin-top: 50px;
}
.terms{
  font-family: 'Montserrat', sans-serif !important; 
}
/* .middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */
.heroMiddle {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}
.heroTitle{
  font-size: 60px;
}
.videoContainer:hover .iframeVideo {
  opacity: 1;
}
#video{
  padding-bottom: 30px;

}
.middle.about{
  padding-top: 130px;
}
/* .videoContainer:hover .middle {
  opacity: 1;
}
*/
.submitTriangle {
  color: white;
  font-size: 16px;
  margin: auto;
  background-color: #666 !important;
  width: 0 !important;
  height: 0 !important;
  border-style: solid !important;
  border-width: 25px 0 25px 42px !important;
  border-color: transparent transparent transparent #29888e !important;
} 
section.findus {
  padding-top: 50px;
}
h5{
  color: #29888e;
  font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
.line {
  background: #29888e;
}
.finding{
  color: #fff;
}
ul.finding {
  padding: 0px 0 86px 0;
}
ul.finding li a {
  color: #fff;
}
.wrap { 
  border-right: 0.08em solid #fff; 
  font-family: 'Montserrat', sans-serif;
}
.travelling img {
  height: 250px;
  width: 250px;
}
.tubeLine{
  color: #29888e;
  font-weight: 500;
  margin-bottom: 50px;
}
.smallLogo{
  height: 40px !important;
  margin-top: 15px;
}
.smallNav{
  height: 70px !important;
}
.hero.colours {
  background-image: -webkit-linear-gradient(45deg, #397175 50%, #29888e 50%);
}
dl.dual img {
  width: 90%;
}
.covidTitle{
  font-size: 25px;
  color: #29888e;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  text-transform: uppercase;
}
p, input, select, li {
  font-family: 'Montserrat', sans-serif;
}
dl.dual dd.middle {
  height: 100%;
  padding: 0 50px;
}
ol li {
  margin-bottom: 20px;
  list-style-type: decimal;
}
#logo {
  height:70px 
}
.logo{
  height:70px !important
}
.hero.home{
  /* background-image: url("./images/Background.jpg"); */
}
.contactBackground{
  background-image: url("./images/FulhamPeople.jpg");
  height: 100%;
  background-size: cover;
}
.aboutBackground{
  background-image: url("./images/FulhamBoxing.jpg");
  height: 500px;
  background-size: cover;
}
.hero h2{
  text-shadow: 2px 2px 2px #397175;
  font-family: 'Montserrat', sans-serif !important;
}
.wistia_responsive_padding{
  padding: '50% 0 0 0';
  position: 'relative'
}
.wistia_responsive_wrapper{
  height: '100%';
  left: 0;
  position: 'absolute';
  top: 0;
  width: '100%'
}
iframe.iframeVideo{
  width: 896px; 
  height: 504px;
}
.hero.mini.findus{
  background-image: url("./images/bw-duclinic-outside.jpg");
  background-size: cover;
}
.hero.findus {
  /* background: url(images/home/where-to-find-us-desktop.jpg); */
  background-size: cover;
  height: 690px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sideBarButton{
  display:none;
}
.termsLink{
  font-family: 'Montserrat', sans-serif !important;
}
.faq {
  background: #4d4d4d;
  height: fit-content;
  padding-top: 60px;
  padding-bottom: 60px;
}
.faqDiv{
  background: #666;
  width: 700px;
  margin: auto;
}
.faqComponent{
  background: #666;
}
.styles_faq-row-wrapper__3Hsch {
  background-color: #4d4d4d !important;
}
.styles_faq-row-wrapper__3Hsch .styles_row-body__8wIE9 .styles_faq-row__2Rd2Y .styles_row-title__2yqnt .styles_icon-wrapper__wjX56 svg {
  fill: var(--arrow-color, #397175) !important;
}
.dark{
  /* background:none; */
}
.heading.inner{
  max-width: 1200px;
}
.inner.white.findUs{
  background: rgba(0, 0, 0, 0.5);
}
.headshot{
  width: 90%;
  vertical-align: bottom;
  margin-bottom: -2px;
}
.table.team{
  margin-top: 30px;
}
.teamSection{
  padding-top: 60px;
  background: #f2f2f2;
}
.backgroundVideo{
  position: relative;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
}
.trialVideo{
  position: relative;
  right: 0;
  min-width: 100%;
  /* height: 552px; */
  margin-right: -1px;
  margin-bottom: -4px;
}
.socialIcon{
  width: 40px;
  display: inline;
  margin-right: 10px;
  margin-top: 10px;
}
.trialSection{
  width: 100%;
  background-image: -webkit-linear-gradient(45deg, #397175 50%, #29888e 50%);
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: middle !important;
}
.chloe{

}
.table{
  display: table;
}
.tr{
  display: table-row;
}
.td{
  display: table-cell;
  vertical-align: bottom;
  overflow: hidden;
}
.td.about{
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
}
.classList{
  padding-top: 60px;
}
.classListFrame{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
}
.calander{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
}
#numbers{
  margin-top: -5px;
}
.tryUswhiteBtn{
  font-family: 'Montserrat', sans-serif !important;
}
.whiteBtn{
  border: 2px solid #ffffff;
  color: #ffffff;
}
.covidImg{
  padding-top: 60px;
}
.contactHero{
  height: 700px !important;
}
.td.trialSection.PT.ptMain{
  background-image: -webkit-linear-gradient(-45deg, #397175 50%, #29888e 50%);
  vertical-align: top;
  padding: 40px;
}
h2.PT.signUp.f40{
  font-size: 40px;
  text-align: left;
  line-height: 45px;
}
.td.trialSection.PT{
  padding-top: 120px;
  padding-bottom: 10%;
}
p.PT.tryUs.small{
font-size: 18px;
color: #ffffff;
font-weight: 100;
}
h2.PT{
  font-weight: 900;
  text-align: left;
  font-size: 80px;
  line-height: 80px;
  font-family: 'Roboto Condensed', sans-serif !important;
}
img.desktop.tablet.arrowPT{
  float: right;
  margin-right: -15px;
  transform: rotate(20deg);
}
#arrorwPT{
  float: right;
  margin-right: -15px;
  transform: rotate(20deg);
}
p.PT{
  font-weight: 500;
  text-align: left;
  font-size: 20px;
}
.td.ptImage{
  background-image: url("./images/F45FulhamWeights.jpg");
  background-size: cover;
}
#nav a#covid-link {
  margin-bottom: -25px !important;
}
.tryUsBackground{
  background-color: black;
  width: 100%;
  height: 100%;
}
.td.tryUsBackground{
  background-image: url("./images/FulhamBoxing.jpg");
  background-size: cover;
  vertical-align: top;
}
.td.ptMain.grey{
  background-color: rgb(77, 77, 77); 
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: top;
}
.tryUsOverlay{
  background-color: rgb(77, 77, 77, 0.8); 
  height: 100vh;
  padding-top: 120px;
  padding-right: 20px;
  padding-left: 20px;
}
.PT.blue{
  color: #29888e;
}
input.tryUsInput{
  display: block;
  padding: 5px;
  width: 60%;
  margin-bottom: 10px;
  font-weight: bold;
  color: #4d4d4d;
}
p.trialNumbers{
  margin-bottom: 40px !important;
  max-width: 60%;
  margin: auto;
}
p.PT.tryUs{
  padding-bottom: 20px;
}
h2.PT.signUp{
  text-align: right;
}
h3.PT.signUp{
  text-align: right;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif !important;
  color: #ffffff;
}
p.PT.tryUs.pt{
  padding-top: 100px;
  padding-bottom: 30px;
}
.aboutSignUp{
  background-image: -webkit-linear-gradient(-45deg, #397175 50%, #29888e 50%);
  text-align: center !important;
  padding: 40px;
}
h2.PT.team{
  text-align: center !important;
}
p.PT.about{
  text-align: center !important;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px
}
/* #### Desktop Only Styles ##### */
@media only screen and (min-width: 780px) {
  .td.tryUsBackground.ptMain{
    padding-top: 5%;
    width: 50%;
  }
  .td.trialSection.PT {
    width: 50%;
  }
  .tryUsOverlay.pt{
    height: 850px;
  }
  .hero.mini.trial.ptSignUp{
    height: 850px;
    overflow: hidden;
  }
  #mobileTrial{
    display: none !important;
  }
}


/* #### Mobile Styles ##### */

@media only screen and (max-width: 780px) {
  #logo {
    height: 40px !important;
    margin-top: 5px;
  }
  .logo{
    height:40px !important
  }
  .smallLogo{
    margin-top: 0px;
  }
  p.PT.about{
    width: 100%;
  }
  .aboutSignUp {
    padding: 20px;
  }
  h2.trialNumbers{
    font-size: 30px;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 10px;
  }
  p.trialNumbers{
    margin-bottom: 40px !important;
    max-width: 90%;
    margin: auto;
  }
  .table{
    display: block;
  }
  .tr{
    display: block;
  }
  .td.trialSection.PT{
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .td{
    display: block;
    margin-top: -4px;
  }
  .trialVideo {
    display: none;
    max-width: 100vw;
    height: auto;
  }
  .trialSection {
    width: 100%;
    background-image: -webkit-linear-gradient(45deg, #397175 50%, #29888e 50%);
    padding-right: 00px;
    padding-left: 0px;
    vertical-align: middle !important;
  }
  .freeTrial{
    font-size: 45px;
    padding-top: 20px;
  }
  .trialSection{
    padding-bottom: 30px;
    vertical-align: middle !important;
  }
  .contactBackground {
    background-size: cover;
    height: 80vh;
    background-image: url("./images/FulhamPeopleMobile.jpg");
  }
  .personalTraining{
    font-size: 30px !important;
    line-height: 35px !important;
  }
  .hero.home{
    /* background-image: url("./images/BackgroundMobile.jpg"); */
    background: #f2f2f2;
    background-size: cover;
    height: 40vh;
  }
  .hero h2 {
    line-height: 60px;
    padding-bottom: 20px;
    font-size: 38px;
  }
  .specialHeading.blue{
    font-size: 35px;
    line-height: 40px;
  }
  .heroMiddle {
    top: 10vh;
  }
  iframe.iframeVideo{
    width: 299px; 
    height: 168px;
  }
  .iframeVideo {
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 20px 20px 0px -10px #29888e !important;
  }
  .hero.mini.findus{
    background-image: url("./images/duoclinicoutside2Mobile.png");
  }
  .mobile.no{
    color: #29888e;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
  }
  .numberblock dl.right dt img, .numberblock dl dt img {
    float: none;
    width: 140px;
    height: 140px;
    display: block;
    margin: 0px auto;
  }
  #covid-container{
    display: none;
  }
  .tryUsOverlay {
    padding-top: 40px;
  }
  .sideLink.top{
    padding-top: 30px !important;
  }
  #covid-link{
    margin-bottom: 20px !important;
    margin-right: 40px !important;
  } 
  .sideBarButton{
    display:block;
  }
  .sideBarBtn{
    display:block;
    float: right !important;
    margin-top: 18px;
    margin-right: 10px;
    background: none;
    border: none;
  }
  .menuIcon{
    height:30px;
    background: none;
    fill: #29888e;
  }
  .sideBar{
    background: "white";
    padding-top: 30px;
    padding-left: 20px;
  }
  .sideBarMenu{
    width: 250px;
    margin: auto;
  }
  .menuFooterLink{
    color: #999 !important;
    padding-left: 35px;
  }
  .menuFooterList{
    position: fixed !important;
    bottom: 0px;
  }
  .sideLink{
    color: #999 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    line-height: 26px !important;
  }
  #nav a {
    display: block;
    margin-bottom: 10px;;
  }
  p.small {
    line-height: 17px !important;
  }
  .faqDiv {
    width: 350px;
    text-align: left;
  }
  dl.dual dd.middle {
    height: 100%;
    padding: 0 0px;
  }
.aboutBackground{
  height: 270px;
}
.mobileH2{
  display: none;
}
.servicesHero{
  height: 525px !important;
}
.contactHero{
  display: none;
}
section.findus {
  padding-top: 70px;
  margin: 0px 0 0 0;
}
br{
  display: block !important;
}
.hero.standard.colours .middle {
  display: block;
  padding: 90px 0 0 0 !important;
}
.backgroundVideo{
  display: none;
}
#nav a#covid-link {
  font-size: 13px !important;
}
.menuFooterLink{
  padding-left: 15px;
}
.hero.home{
  height: 50vh;
}
#desktopTrial{
  display: none !important;
}
.hero.home {
  height: 30vh;
}
}