body {
  opacity: 1 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header1 {
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: #e7420c;
  width: 0%;
}

